if SHIELD_AROUND_FORTY_TB_R
config ZMK_KEYBOARD_NAME
    default "AroundForty-TB_R"

config ZMK_SPLIT
    def_bool y

config ZMK_SPLIT_BLE
    def_bool y

config ZMK_SPLIT_ROLE_CENTRAL
    def_bool y
endif

if SHIELD_AROUND_FORTY_TB_L
config ZMK_KEYBOARD_NAME
    default "AroundForty-TB_L"

config ZMK_SPLIT
    def_bool y

endif
