if SHIELD_AROUND_FORTY_BBN_RIGHT

config ZMK_KEYBOARD_NAME
    string
    default "AroundFortyBBN_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_AROUND_FORTY_BBN_LEFT
config ZMK_KEYBOARD_NAME
    default "AroundFortyBBN_L"

config ZMK_SPLIT
    default y

endif

if SHIELD_AROUND_FORTY_BBN_LEFT_N
config ZMK_KEYBOARD_NAME
    default "AroundFortyBBN_LN"

config ZMK_SPLIT
    default y

endif
