config SHIELD_AROUND_FORTY_BBN_RIGHT
    def_bool $(shields_list_contains,around_forty_tb_right)

config SHIELD_AROUND_FORTY_BBN_LEFT
    def_bool $(shields_list_contains,around_forty_tb_left)

config SHIELD_AROUND_FORTY_BBN_LEFTN
    def_bool $(shields_list_contains,AroundForty-RB_R)
