#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0
#define LOWER 1
#define RAISE 2

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT {
            bindings = <
&kp Q         &kp W         &kp E             &kp R             &kp T                           &kp Y           &kp U  &kp I  &kp O      &kp P
&kp A         &kp S         &kp D             &kp F             &kp G                           &kp H           &kp J  &kp K  &kp L      &kp MINUS
&mt LSHIFT Z  &kp X         &kp C             &kp V             &kp B          &lt 4 LG(LS(S))  &kp AT_SIGN     &kp N  &kp M  &kp COMMA  &kp PERIOD  &kp SLASH
&kp LCTRL     &kp LEFT_GUI  &lt 1 LANGUAGE_2  &lt 3 LANGUAGE_1  &kp BACKSPACE  &lt 2 ENTER      &lt 4 LEFT_ALT                           &kp DELETE
            >;
        };

        COMMON {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans  &trans                          &none
            >;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans  &trans                          &none
            >;
        };

        NUMBER {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &kp N7        &kp N8        &kp N9
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &kp N0
            >;
        };

        SETTINGS {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;
        };
    };
};
