#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0
#define LOWER 1
#define RAISE 2

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp Q         &kp W   &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&kp A         &kp S   &kp D   &trans  &trans          &trans  &trans  &trans  &trans  &trans
&mt LSHIFT Z  &kp X   &kp C   &kp V   &kp B   &trans  &trans  &trans  &trans  &none   &trans  &trans
&trans        &trans  &trans  &none   &trans  &trans  &trans                          &none
            >;
        };

        LOWER {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans  &trans                          &none
            >;
        };

        RAISE {
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans
&trans  &trans  &trans  &none   &trans  &trans  &trans                          &none
            >;
        };
    };
};
